.text {
  color: white;
  font-family: 'Raleway', sans-serif;
}

.text--bold {
  font-weight: 800;
}

.text--normal {
  font-size: 14px;
}

.text--small {
  font-size: 12px;
}

.text--big {
  font-size: 40px;
}

.text--line {
  line-height: 40px;
}

.text--font {
  font-family: 'Raleway', sans-serif;
}
